.display-3{
	 font-family: 'Anton', sans-serif;
}
#btn{
	margin-top:1%;
}
body{
	background-image: url('pexels.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}
.card{
	opacity:.8;
}
.style{
	font-family: 'Space Grotesk', sans-serif;
}
@media (max-width: 767px){
    .display-3 i{
         transform: rotateZ(90deg);
	}
}